body{

position: relative;
width: 1440px;
height: 1579px;

background: linear-gradient(180deg, #769BE2 0%, rgba(255, 255, 255, 0) 100%);
}
p{
    position: absolute;
width: 1085px;
height: 45px;
left: 114px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36.9507px;
line-height: 45px;
/* identical to box height */


color: #000000;
}